/* 表單 */
.table-bg {
    /* height: 100px; */
    margin-top: 90px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* 將卡片內容置中 */
    padding-bottom: 30px;
}

h3 {
    text-align: center;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.table-size {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
}

table {
    width: 100%;               /* 表格宽度 */
    border-collapse: separate; /* 启用border-spacing, 给border-radius留出空间 */
    border-spacing: 0;         /* 将表格内边距设为0 */
    border-radius: 15px;       /* 圆角边框的半径 */
    overflow: hidden;          /* 隐藏因圆角产生的溢出边框 */
    text-align: center;
}

th, td {
    padding: 20px;                  /* 单元格内边距 */
    width: 20%;                     /* 确保每列宽度一致 */
    box-sizing: border-box;        /* 包括边框和内边距在宽度计算内 */
}


th, th a {
    color: black;              /* 表头文字颜色 */
}


.price {
    color: #DAA520;  /* 单独为价格列设置颜色 */
}


.img-wrapper {
    position: relative;
    width: 100%;
    padding-top: 100%; /* 使得容器高度等于其宽度，从而构成正方形 */
    border-radius: 15px; /* 边框圆角 */
    overflow: hidden; /* 隐藏溢出的图片部分 */
    display: flex; /* 使用Flexbox布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

.img-wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto; /* 删除或更改此属性，以取决于图片的自然大小 */
    height: 100%; /* 取决于图片的自然高度 */
    transform: translate(-50%, -50%); /* 图片居中 */
    object-fit: cover; /* 保证图片覆盖整个容器但不改变宽高比 */
}

.img-wrapper video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto; /* 删除或更改此属性，以取决于图片的自然大小 */
    height: 100%; /* 取决于图片的自然高度 */
    transform: translate(-50%, -50%); /* 图片居中 */
    object-fit: cover; /* 保证图片覆盖整个容器但不改变宽高比 */
}

.no-product {
    color: red;
    font-weight: bold;
}
.ani-bg:hover {
    background-color: rgba(210, 180, 140, 0.5);
}

.enter-code {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid rgb(190, 131, 83); /* 主題顏色 */
    border-radius: 5px;
    transition: border-color 0.3s;
    margin-left: 20px;
    margin-right: 20px;
}

input[type="text"]:focus {
    border-color: rgb(190, 131, 83); /* 深色主題顏色 */
    outline: none;
}

/* 按鈕樣式 */
.btn {
    display: inline-block;
    position: relative;
    z-index: 1;
    min-width: 200px;
    background: #FFFFFF;
    border: 2px solid rgb(190, 131, 83);
    border-radius: 4px;
    color: rgb(190, 131, 83);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    padding: 10px 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.btn span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: rgb(190, 131, 83);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}
.btn:hover,
.btn:focus {
    color: white;
}
.btn:hover span {
    transform: translateY(0) scale(2);
}
.btn span:nth-child(1) {
    --n: 1;
}
.btn span:nth-child(2) {
    --n: 2;
}
.btn span:nth-child(3) {
    --n: 3;
}
.btn span:nth-child(4) {
    --n: 4;
}

/* 手機 */
@media (max-width: 768px) {
    .hide-header-on-mobile {
        display: none;
    }
    
    .table-size {
        flex-direction: column;
        width: 100%;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    tbody {
        flex-direction: column;
        width: 100%;
    }

    tr {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    td {
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
    }

    .no-product {
        font-size: 1.2em;
        text-align: center;
    }

    .enter-code {
        margin-top: 20px;
        flex-direction: column;
        width: 100%;
    }
    
    input[type="text"] {
        margin-bottom: 20px;
    }
    
    .btn {
        margin-bottom: 10px;
    }
}